
__pycache__/
*.py[cod]
*$py.class

venv/
.env/
.venv/
env/
poketLawyer/


build/
dist/
*.egg-info/
.eggs/

.vscode/
.idea/
*.swp

.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/


*.log

.ipynb_checkpoints

.DS_Store
Thumbs.db
